@import url(http://fonts.googleapis.com/css?family=Ranchers);
@import url("font-awesome-ie7.css");
@import url("font-awesome.css");

.ptweetbubble {
    margin:10px 0 10px 30px;
    color:white;
    width: 90%;
    height: 100px;
    background: #F2CA50;
    position: relative;
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
    line-height:20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.ptweetbubble:before {
    content:"";
    position: absolute;
    right:100%;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #F2CA50;
    border-bottom: 13px solid transparent;
}

.ntweetbubble {
    margin:10px 30px 10px 0px;
    color:white;
    width: 90%;
    height: 100px;
    background: #363F40;
    position: relative;
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
    line-height:20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.ntweetbubble:before {
    content:"";
    position: absolute;
    left:100%;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #363F40;
    border-bottom: 13px solid transparent;
}

.font-Ranchers {
    font-family: 'Ranchers';
}

.text-center {
	text-align:center;
}
