@import url("base.css");
@import url(http://fonts.googleapis.com/css?family=Ranchers);
@import url("font-awesome-ie7.css");
@import url("font-awesome.css");

.ptweetbubble {
    margin:10px 0 10px 30px;
    color:white;
    width: 90%;
    height: 100px;
    background: #F2CA50;
    position: relative;
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
    line-height:100px;
}

.ptweetbubble:before {
    content:"";
    position: absolute;
    right:100%;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #F2CA50;
    border-bottom: 13px solid transparent;
}

.ntweetbubble {
    margin:10px 30px 10px 0px;
    color:white;
    width: 90%;
    height: 100px;
    background: #363F40;
    position: relative;
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
    line-height:100px;
}

.ntweetbubble:before {
    content:"";
    position: absolute;
    left:100%;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #363F40;
    border-bottom: 13px solid transparent;
}


.container {
    position:fixed;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    top:60px;
    margin-top:30px;
}

.contents {
    width:80%;
    margin:0 auto;
    display:table;
}

.mainbar {
    width:80%;
    height:1600px;
    float:left;
    
}

.mainbar-left{
    width:45%;
    float:left;
    text-align:right;
}

.mainbar-mid {
    width:10%;
    float:left;
    height:1600px;
    background:white;
    -moz-border-radius: 30px;
    border-radius: 30px;i
}

.mainbar-right{
    width:45%;
    float:right;
}


.sidebar {

}

body {
    background:#BBD8F2;
}

a {
    color:black; 
    text-decoration:none;
}   

.font-Ranchers {
    font-family: 'Ranchers';
}

.title{
	font-size:80px;
    color: #ffffff;	
}

.sub-title{
	
}

.twitter-button {
	color:white;
	font-size:30px;
}

.big-text { font-size: 40px }
.mid-text { font-size: 20px }
.small-text { font-size:10px}

.big-icon { font-size:80px }
.mid-icon { font-size:40px }
.small-icon { font-size:20px }

.header {

    width:100%;
}

.header-fixed {
    width:100%;
    position:fixed;
    border-width: 0 0 1px;
    top:0;
    right:0;
    left:0;
    margin_bottom:0;
    height:60px;
    background:#D5E7F2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header-inner {
    width:80%;
    margin:0 auto;

}


.header-inner a:hover {
    background:rgba(0, 0, 0, 0.1);
}

.brand {
    float:left;
    line-height:50px;
}

.nav-main {
    float:left;
    line-height:25px;
    padding:0 20px;
}

.nav-right {
    float:right;
    line-height:20px;
    padding:0 20px;
}

.footer			{ 
	position:fixed; 
	background:black; 
	color:white; 
	width:100%;
    height:17px;
	bottom:0;
    font-size:15px; 
}
/*
 * #id
 * 
 * */


/*
*
*	Text align
*/

.text-center {
	text-align:center;
}
