<!doctype html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
    {% endblock %}
</head>
    <body>
        <div class="container">
            {% block header %}
            <div class="header">
                <div class="header-inner">
                    <span class="brand big-text font-Ranchers">Unome</span>
                    <ul class="nav-main mid-text">
                        <li><a href="#">Menu1</a></li>
                    </ul>
                    <ul class="nav-right mid-text">
                        {% if g.user %}
                        <li><a href="#">{{ g.user.name }}</a>|<a href="/logout">sign out</a></li>
                        {% else %}
                        <li><a href="/login">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div> 
            {% endblock %}
            {% block content %} 
                
            {% endblock %}
            {% block footer %}
            <div class="footer">
                <span class="text-center">&copy; Copyright 2012 by <a href="http://lum4n.blogspot.com">luman</a> and <a href="http://">pherox</a>.</span>
            </div>
            {% endblock %}
        </div>
</body>
