<!doctype html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Do You know me?</title>
</head>

<body>
<div class="wrap_contents">	
	<div class="content text-center">
		<h1 class="title">Unome</h1>
		<h2 class="sub-title">Do you know me?</h2>
		<div class="twitter-button">
			<i class="icon-twitter mid-icon"></i>
			<span>Sign in twitter</span>
		</div>
		
	</div>
	<div class="footer text-center">
		made by luman, pherox
	</div>
</div>
</body>