{% extends "base.html" %}
{% block title %}Welcome to Unome{% endblock %}
{% block head %}
{{ super() }}
<link rel=stylesheet href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/unome.css') }}">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid content" style="margin:auto;width:80%">
        <div class="span10">
            <div class="row-fluid">
                <div class="nbar span5">
                    {% for tweet in g.tweets %}
                    <div class="ntweetbubble text-center">
                        {{ tweet.user.name }} : {{ tweet.text }}
                    </div>
                    {% endfor %}
                </div>
                <div class="midbar span1 text-center" style="background:red">
                hi
                </div>
                <div class="pbar span5">
                    {% for tweet in g.tweets %}
                    <div class="ptweetbubble">
                            <div class="tweet-user-profile-image"><img src="{{ tweet.user.profile_image_url }}" /></div> 
                            <span class='tweet-user-name'>{{ tweet.user.name }}</span> <span class='tweet-user-screen-name'>@{{ tweet.user.screen_name }}</span>
{{ tweet.text }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="span2"> 
        Navigation
        <div>
    </div>
</div>
<script>
    $(function(){  
        $(document).click(function(){
            
        $('.midbar').css('height', $('.pbar').css('height'))   
            
        }) 
    })
</script>
{% endblock %}
